*{
    padding: 0;
    margin: 0;
}
header{
    height: 100px;
    background-color: rgb(14, 54, 41);
    
    
}
ul{
    list-style-type: none;
    

}
a{
    color: rgb(221, 190, 190);
    font-size: 20px;
    text-decoration: none;
}
.link_sub_menu{
    font-size: 16px;
    
    
}
.container_menu{
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container_sub_menu{
    position: absolute;
    max-height: 0;
    overflow: hidden;
    left: 20px;
    background-color: rgb(16, 54, 42);
    border-radius: 5px;
    transition: 0.5s;
    

}
.container_menu>li{
    position: relative;

}
.container_menu>li ::after{
    content: '';
    position: absolute;
    height: 70%;
    top: 15%;
    width: 1px;
    background-color: white;
    right: -10px;
}
.link_menu:hover{
    color: rgb(209, 132, 132) ;
}
.container_menu>li:last-child ::after{
    display: none;
}
.container_menu>li:hover .container_sub_menu{
    max-height: 100vh;
}
div{
    width: 500px;
    height: 200px;
}
.container_1{
    background-color: antiquewhite;
}
.container_2{
    background-color: rgb(214, 166, 103);
}
.container_3{
    background-color: rgb(85, 65, 39);
}
@media (max-width:600px){
    .container_2{
        display: none;
    }
}